{% load static %}
<aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="tutor-dashboard.html">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#profile-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Tutor Profile</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="profile-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="profile-personal-information.html">
                <i class="bi bi-circle"></i><span>Personal Information</span>
              </a>
            </li>
            <li>
              <a href="profile-specialties.html">
                <i class="bi bi-circle"></i><span>Specialties</span>
              </a>
            </li>
            <li>
              <a href="profile-education.html">
                <i class="bi bi-circle"></i><span>Education</span>
              </a>
            </li>
            <li>
              <a href="profile-experience.html">
                <i class="bi bi-circle"></i><span>Experience</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="tutor-rating-review.html">
            <i class="bi bi-star-half"></i>
            <span>Rating and Review</span>
          </a>
        </li>
        <!-- End Rating and Review Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="tutor-list-learners.html">
            <i class="bi bi-people"></i>
            <span>Learners</span>
          </a>
        </li>
        <!-- End Learners Nav -->
      </ul>
    </aside>


