{% extends 'core/base.html' %}

{% block head %}
  <title>Learner /  Sign Up</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock head %}

{% block content %}
<main>
    {% load static %}
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
              <a href="{% url 'home:index' %}" class="logo d-flex align-items-center w-auto">
                <img src="{% static 'core/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">TutorConnect</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                <form class="row g-3 needs-validation" onsubmit="create_account({% url 'account:learner-create-account' %})" method="POST" action="{% url 'account:learner-create-account' %}">
                    {% csrf_token %}
                    <div class="col-md-5">
                      <label for="firstName" class="form-label">First Name</label>
                      <input type="text" name="firstName" class="form-control" id="firstName" required>
                      <div class="invalid-feedback">Please enter your first name!</div>
                    </div>

                    <div class="col-md-5">
                      <label for="lastName" class="form-label">Last Name</label>
                      <input type="text" name="lastName" class="form-control" id="lastName" required>
                      <div class="invalid-feedback">Please enter your last name!</div>
                    </div>

                    <div class="col-md-2">
                      <label for="middleInitial" class="form-label">M.I</label>
                      <input type="text" name="middleInitial" class="form-control" id="middleInitial">
                    </div>

                    <div class="col-md-6">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter a valid email address!</div>
                    </div>

                    <div class="col-md-6">
                      <label for="dob" class="form-label">Date of Birth</label>
                      <input type="date" name="dob" class="form-control" id="dob" required>
                      <div class="invalid-feedback">Please enter your date of birth!</div>
                    </div>

                    <div class="col-md-6">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-md-6">
                      <label for="confirmPassword" class="form-label">Confirm Password</label>
                      <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
                      <div class="invalid-feedback">Please confirm your password!</div>
                    </div>

                    <div class="col-12">
                      <label class="form-label">Account Type</label>
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="accountType" id="parentAccount" value="parent" required>
                          <label class="form-check-label" for="parentAccount">Parent</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="accountType" id="personalAccount" value="personal" required>
                          <label class="form-check-label" for="personalAccount">Personal</label>
                        </div>
                        <div class="invalid-feedback">Please select your account type!</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="terms-condition.html">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                    <p class="small mb-0">Already have an account? <a href="{% url 'account:login' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
{% block script %}
<script src="{% static 'account/script.js' %}"></script>
{% endblock script %}
{% endblock content %}
